---
layout: default
section_id: portfolio
works_left:
- title: Duropac 
  link_to: portfolio-item.html
  image: images/@stock/home-work-1.jpg
  categories: Catalogue
- title: Duropac 
  link_to: portfolio-item2.html
  image: images/@stock/home-work-2.jpg
  categories: Product photography
- title: Seal 'n Cook
  link_to: portfolio-item3.html
  image: images/@stock/home-work-3.jpg
  categories: Branding
- title: Challenges
  link_to: portfolio-item4.html
  image: images/@stock/home-work-4.jpg
  categories: Personal projects
works_right:
- title: Cannabis in Canada - Neuropsychiatry
  link_to: portfolio-item5.html
  image: images/@stock/home-work-5.jpg
  categories: Poster
- title: Seal 'n Cook
  link_to: portfolio-item6.html
  image: images/@stock/home-work-6.jpg
  categories: Copywriting
- title: Seal 'n Cook
  link_to: portfolio-item7.html
  image: images/@stock/home-work-7.jpg
  categories: Product Photography
- title: Other creative endeavors
  link_to: portfolio-item8.html
  image: images/@stock/home-work-8.jpg
  categories: Sculpture
---

<div class="full light-grey">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp">Works</h1>
      </div>
    </div>
    <div class="row">
      <div class="medium-9 medium-centered columns">
        <div class="header-quote">
          <p>"A designer knows he has achieved perfection not when there is nothing left to add, but when there is nothing left to take away."</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full">
  <div class="row">
    <div class="large-6 columns">
      <div class="gallery-left-section">
        {% for work in page.works_left %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="large-6 columns">
      <div class="gallery-right-section">
        {% for work in page.works_right %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="spacing"></div>
</div>
